<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home</title>
</head>
<body>
<!--/*@thymesVar id="recipe" type="guru.springframework.recipe.domain.Recipe"*/-->
<!--/*@thymesVar id="ingredient" type="guru.springframework.recipe.domain.Ingredient"*/-->
<h1>Recipe List</h1>

<section th:each="recipe : ${recipes}">
    <h2 th:text="${recipe.description}">Description</h2>
    <p>By <span th:text="${recipe.source}">Source</span></p>
    <p>Preparation Time: <span th:text="${recipe.prepTime}">Preparation Time</span> min | Cooking Time: <span th:text="${recipe.cookTime}">Cooking Time</span> min</p>
    <img th:src="@{'data:image/png;base64,' + ${recipe.base64Image} }" width="500px"/>
    <img th:src="@{'data:image/png;base64,' + ${@imageHelperImpl.toBase64(recipe.image)} }" width="500px"/>
    <h3>Ingredients</h3>
    <ingredient th:each="ingredient : ${recipe.ingredients}">
        <p><span th:text="${ingredient.amount}">Amount</span> <span th:text="${ingredient.uom.description}">Unit of Measure</span> <span th:text="${ingredient.description}">Description</span></p>
    </ingredient>
    <h3>Directions</h3>
    <pre th:text="${recipe.directions}">Directions</pre>
    <hr/>
</section>

</body>
</html>